---
interface Props {
  title: string;
  subtitle?: string;
  centered?: boolean;
}

const { title, subtitle, centered = true } = Astro.props;
---

<div class:list={['mb-10 max-w-3xl', centered && 'mx-auto text-center']}>
  <h2
    class="text-2xl font-bold tracking-tight text-balance text-neutral-800 md:text-4xl md:leading-tight "
  >
    {title}
  </h2>
  {
    subtitle && (
      <p class="mt-3 text-pretty text-neutral-600 ">
        {subtitle}
      </p>
    )
  }
</div>
